 # use the generic worker as a synchrotron:
    # taken from https://element-hq.github.io/synapse/latest/workers.html#synapseappgeneric_worker

    location ~ ^/_matrix/client/(r0|v3)/sync${DOLLAR} {
        proxy_pass http://synapse-generic-worker-1:8081;
        proxy_set_header X-Forwarded-For ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
    }

    location ~ ^/_matrix/client/(api/v1|r0|v3)/events${DOLLAR} {
        proxy_pass http://synapse-generic-worker-1:8081;
        proxy_set_header X-Forwarded-For ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
    }

    location ~ ^/_matrix/client/(api/v1|r0|v3)/initialSync${DOLLAR} {
        proxy_pass http://synapse-generic-worker-1:8081;
        proxy_set_header X-Forwarded-For ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
    }

    location ~ ^/_matrix/client/(api/v1|r0|v3)/rooms/[^/]+/initialSync${DOLLAR} {
        proxy_pass http://synapse-generic-worker-1:8081;
        proxy_set_header X-Forwarded-For ${DOLLAR}remote_addr;
        proxy_set_header X-Forwarded-Proto ${DOLLAR}scheme;
    }